body {
    background: #000;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
}


.btn {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 10px;
    font-family: Arial;
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    width: 150px;
    height: 50px;
    position: relative;
    background-color: #00A0D6;
    transition: background-color 0.5s;
}

.btn:hover {
    background-color: #007DA7;
}

.content {
    position: absolute;
    width: 100px;
    height: 70px;
    left: 26px;
    text-align: center;
    line-height: 50px;
    transition: top 0.3s;
}

.top {
    top: 0px;
}

.btn:hover .top {
    top: -50px;
}

.bottom {
    top: 50px;
}

.btn:hover .bottom {
    top: 0px;
}

.btn {
    overflow: hidden;
}