* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;

}

.plate {
    width: 320px;
    height: 60px;
    border-radius: 100%;
    border: 3px solid #000;
    background: #fff;
    filter: blur(0.5px)
}

.plate::after,
.plate .p1 {
    right: 300px;
    width: 250px;
    height: 20px;
    border: 3px solid #ccc;
}

#shadow {
    width: 300px;
    height: 20px;
    border-radius: 100%;
    background: #555;
    filter: blur(3px);
}

#cherry {
    width: 40px;
    height: 40px;
    background-color: #ECAA7D;
    transform: rotate(-40deg);
    border-radius: 100%;
    border: 1.5px solid #e81c2d;
    background-color: #e8515e;
    box-shadow: inset -3px -7px 4px 7px #e81c2d;

}

butt {
    border-radius: 100%;
    border: 3px solid transparent;
    border-top: 3px solid black;
    border-left: 3px solid black;
    width: 50px;
    height: 50px;
    top: 11px;
    left: 129px;
    transform: rotate(15deg);
}

.butt .botton {
    top: 20px;
    left: 114px;
    transform: rotate(-5deg);
}

.cream {
    right: 30px;
    width: 15px;
    height: 15px;
    background-color: #ECAA7D;
    transform: rotate(-40deg);
    border-radius: 100%;
    background-color: #e82c3c;
    display: flex;
}

.cream .c1-1 {
    right: 30px;
    width: 15px;
    height: 15px;
    background-color: #fae2d2;
    transform: rotate(-40deg);
    border-radius: 100%;
}

.cream .c1-2 {
    right: 30px;
    width: 15px;
    height: 15px;
    background-color: #fae2d2;
    transform: rotate(-40deg);
    border-radius: 100%;
}

.cream .c1-3 {
    right: 30px;
    width: 15px;
    height: 15px;
    background-color: #ECAA7D;
    transform: rotate(-40deg);
    border-radius: 100%;

}

.brownSugar {
    height: 40px;
    width: 240px;
    border-radius: 15% 15% 0% 0%;
    background-color: #ECAA7D;
    border-top: 30px solid #DB9E74;
}

.pudding {
    position: relative;
    height: 200px;
    width: 240px;
    background-color: #fac39d;
    border: 3px solid #c08a65;
    border-bottom: 0px solid #fac39d;
}

.shape {
    position: absolute;
    display: flex;
    top: 1px;
    right: 20px;
    width: 8px;
    height: 50px;
    background-color: #ECAA7D;
    transform: rotate(-45deg);
    border-radius: 70px 220px 220px 50px;
}

.shape .s1 {
    position: relative;
    top: 100px;
    width: 15px;
    height: 15px;
    background-color: #ECAA7D;
    transform: rotate(-30deg);
    border-radius: 100%;
}

.face {
    position: absolute;
    bottom: 0;
    height: 165px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eyes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 145px;
}

.left-eye,
.right-eye {
    position: relative;
    background-color: #eb5026;
    height: 18px;
    width: 18px;
    border-radius: 50%;
}

.left-eye::before,
.right-eye::before {
    content: '';
    position: absolute;
    left: 2px;
    top: 5px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: white;
}

.mouth {
    position: relative;
    height: 25px;
    width: 75px;
    background-color: #e81c2d;
    border-radius: 10px 10px 30px 30px;
    margin-top: 18px;
    border-radius: inset -4px 1px 0 21px #eb5026;
}

.mouth::after {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-color: #F982BF;
    left: 24px;
    top: 18px;
    border-radius: 3px 3px 50% 50%;
}


.wing {
    height: 173px;
    width: 40px;
    background-color: #fac39d;
    position: absolute;
    bottom: 0px;
    right: 208px;
    transform: rotate(5deg);
    border-radius: 0 0 5px 3px;
}

.wing {
    height: 173px;
    width: 40px;
    background-color: #fac39d;
    position: relative;
    bottom: 0px;
    left: 95%;
    transform: rotate(-5deg);
    border-radius: 0 0 5px 0px;
}